.#{$typcn-css-prefix}-adjust-brightness:before { content: '\e000'; }
.#{$typcn-css-prefix}-adjust-contrast:before { content: '\e001'; }
.#{$typcn-css-prefix}-anchor-outline:before { content: '\e002'; }
.#{$typcn-css-prefix}-anchor:before { content: '\e003'; }
.#{$typcn-css-prefix}-archive:before { content: '\e004'; }
.#{$typcn-css-prefix}-arrow-back-outline:before { content: '\e005'; }
.#{$typcn-css-prefix}-arrow-back:before { content: '\e006'; }
.#{$typcn-css-prefix}-arrow-down-outline:before { content: '\e007'; }
.#{$typcn-css-prefix}-arrow-down-thick:before { content: '\e008'; }
.#{$typcn-css-prefix}-arrow-down:before { content: '\e009'; }
.#{$typcn-css-prefix}-arrow-forward-outline:before { content: '\e00a'; }
.#{$typcn-css-prefix}-arrow-forward:before { content: '\e00b'; }
.#{$typcn-css-prefix}-arrow-left-outline:before { content: '\e00c'; }
.#{$typcn-css-prefix}-arrow-left-thick:before { content: '\e00d'; }
.#{$typcn-css-prefix}-arrow-left:before { content: '\e00e'; }
.#{$typcn-css-prefix}-arrow-loop-outline:before { content: '\e00f'; }
.#{$typcn-css-prefix}-arrow-loop:before { content: '\e010'; }
.#{$typcn-css-prefix}-arrow-maximise-outline:before { content: '\e011'; }
.#{$typcn-css-prefix}-arrow-maximise:before { content: '\e012'; }
.#{$typcn-css-prefix}-arrow-minimise-outline:before { content: '\e013'; }
.#{$typcn-css-prefix}-arrow-minimise:before { content: '\e014'; }
.#{$typcn-css-prefix}-arrow-move-outline:before { content: '\e015'; }
.#{$typcn-css-prefix}-arrow-move:before { content: '\e016'; }
.#{$typcn-css-prefix}-arrow-repeat-outline:before { content: '\e017'; }
.#{$typcn-css-prefix}-arrow-repeat:before { content: '\e018'; }
.#{$typcn-css-prefix}-arrow-right-outline:before { content: '\e019'; }
.#{$typcn-css-prefix}-arrow-right-thick:before { content: '\e01a'; }
.#{$typcn-css-prefix}-arrow-right:before { content: '\e01b'; }
.#{$typcn-css-prefix}-arrow-shuffle:before { content: '\e01c'; }
.#{$typcn-css-prefix}-arrow-sorted-down:before { content: '\e01d'; }
.#{$typcn-css-prefix}-arrow-sorted-up:before { content: '\e01e'; }
.#{$typcn-css-prefix}-arrow-sync-outline:before { content: '\e01f'; }
.#{$typcn-css-prefix}-arrow-sync:before { content: '\e020'; }
.#{$typcn-css-prefix}-arrow-unsorted:before { content: '\e021'; }
.#{$typcn-css-prefix}-arrow-up-outline:before { content: '\e022'; }
.#{$typcn-css-prefix}-arrow-up-thick:before { content: '\e023'; }
.#{$typcn-css-prefix}-arrow-up:before { content: '\e024'; }
.#{$typcn-css-prefix}-at:before { content: '\e025'; }
.#{$typcn-css-prefix}-attachment-outline:before { content: '\e026'; }
.#{$typcn-css-prefix}-attachment:before { content: '\e027'; }
.#{$typcn-css-prefix}-backspace-outline:before { content: '\e028'; }
.#{$typcn-css-prefix}-backspace:before { content: '\e029'; }
.#{$typcn-css-prefix}-battery-charge:before { content: '\e02a'; }
.#{$typcn-css-prefix}-battery-full:before { content: '\e02b'; }
.#{$typcn-css-prefix}-battery-high:before { content: '\e02c'; }
.#{$typcn-css-prefix}-battery-low:before { content: '\e02d'; }
.#{$typcn-css-prefix}-battery-mid:before { content: '\e02e'; }
.#{$typcn-css-prefix}-beaker:before { content: '\e02f'; }
.#{$typcn-css-prefix}-beer:before { content: '\e030'; }
.#{$typcn-css-prefix}-bell:before { content: '\e031'; }
.#{$typcn-css-prefix}-book:before { content: '\e032'; }
.#{$typcn-css-prefix}-bookmark:before { content: '\e033'; }
.#{$typcn-css-prefix}-briefcase:before { content: '\e034'; }
.#{$typcn-css-prefix}-brush:before { content: '\e035'; }
.#{$typcn-css-prefix}-business-card:before { content: '\e036'; }
.#{$typcn-css-prefix}-calculator:before { content: '\e037'; }
.#{$typcn-css-prefix}-calendar-outline:before { content: '\e038'; }
.#{$typcn-css-prefix}-calendar:before { content: '\e039'; }
.#{$typcn-css-prefix}-camera-outline:before { content: '\e03a'; }
.#{$typcn-css-prefix}-camera:before { content: '\e03b'; }
.#{$typcn-css-prefix}-cancel-outline:before { content: '\e03c'; }
.#{$typcn-css-prefix}-cancel:before { content: '\e03d'; }
.#{$typcn-css-prefix}-chart-area-outline:before { content: '\e03e'; }
.#{$typcn-css-prefix}-chart-area:before { content: '\e03f'; }
.#{$typcn-css-prefix}-chart-bar-outline:before { content: '\e040'; }
.#{$typcn-css-prefix}-chart-bar:before { content: '\e041'; }
.#{$typcn-css-prefix}-chart-line-outline:before { content: '\e042'; }
.#{$typcn-css-prefix}-chart-line:before { content: '\e043'; }
.#{$typcn-css-prefix}-chart-pie-outline:before { content: '\e044'; }
.#{$typcn-css-prefix}-chart-pie:before { content: '\e045'; }
.#{$typcn-css-prefix}-chevron-left-outline:before { content: '\e046'; }
.#{$typcn-css-prefix}-chevron-left:before { content: '\e047'; }
.#{$typcn-css-prefix}-chevron-right-outline:before { content: '\e048'; }
.#{$typcn-css-prefix}-chevron-right:before { content: '\e049'; }
.#{$typcn-css-prefix}-clipboard:before { content: '\e04a'; }
.#{$typcn-css-prefix}-cloud-storage:before { content: '\e04b'; }
.#{$typcn-css-prefix}-cloud-storage-outline:before { content: '\e054'; }
.#{$typcn-css-prefix}-code-outline:before { content: '\e04c'; }
.#{$typcn-css-prefix}-code:before { content: '\e04d'; }
.#{$typcn-css-prefix}-coffee:before { content: '\e04e'; }
.#{$typcn-css-prefix}-cog-outline:before { content: '\e04f'; }
.#{$typcn-css-prefix}-cog:before { content: '\e050'; }
.#{$typcn-css-prefix}-compass:before { content: '\e051'; }
.#{$typcn-css-prefix}-contacts:before { content: '\e052'; }
.#{$typcn-css-prefix}-credit-card:before { content: '\e053'; }
.#{$typcn-css-prefix}-css3:before { content: '\e055'; }
.#{$typcn-css-prefix}-database:before { content: '\e056'; }
.#{$typcn-css-prefix}-delete-outline:before { content: '\e057'; }
.#{$typcn-css-prefix}-delete:before { content: '\e058'; }
.#{$typcn-css-prefix}-device-desktop:before { content: '\e059'; }
.#{$typcn-css-prefix}-device-laptop:before { content: '\e05a'; }
.#{$typcn-css-prefix}-device-phone:before { content: '\e05b'; }
.#{$typcn-css-prefix}-device-tablet:before { content: '\e05c'; }
.#{$typcn-css-prefix}-directions:before { content: '\e05d'; }
.#{$typcn-css-prefix}-divide-outline:before { content: '\e05e'; }
.#{$typcn-css-prefix}-divide:before { content: '\e05f'; }
.#{$typcn-css-prefix}-document-add:before { content: '\e060'; }
.#{$typcn-css-prefix}-document-delete:before { content: '\e061'; }
.#{$typcn-css-prefix}-document-text:before { content: '\e062'; }
.#{$typcn-css-prefix}-document:before { content: '\e063'; }
.#{$typcn-css-prefix}-download-outline:before { content: '\e064'; }
.#{$typcn-css-prefix}-download:before { content: '\e065'; }
.#{$typcn-css-prefix}-dropbox:before { content: '\e066'; }
.#{$typcn-css-prefix}-edit:before { content: '\e067'; }
.#{$typcn-css-prefix}-eject-outline:before { content: '\e068'; }
.#{$typcn-css-prefix}-eject:before { content: '\e069'; }
.#{$typcn-css-prefix}-equals-outline:before { content: '\e06a'; }
.#{$typcn-css-prefix}-equals:before { content: '\e06b'; }
.#{$typcn-css-prefix}-export-outline:before { content: '\e06c'; }
.#{$typcn-css-prefix}-export:before { content: '\e06d'; }
.#{$typcn-css-prefix}-eye-outline:before { content: '\e06e'; }
.#{$typcn-css-prefix}-eye:before { content: '\e06f'; }
.#{$typcn-css-prefix}-feather:before { content: '\e070'; }
.#{$typcn-css-prefix}-film:before { content: '\e071'; }
.#{$typcn-css-prefix}-filter:before { content: '\e072'; }
.#{$typcn-css-prefix}-flag-outline:before { content: '\e073'; }
.#{$typcn-css-prefix}-flag:before { content: '\e074'; }
.#{$typcn-css-prefix}-flash-outline:before { content: '\e075'; }
.#{$typcn-css-prefix}-flash:before { content: '\e076'; }
.#{$typcn-css-prefix}-flow-children:before { content: '\e077'; }
.#{$typcn-css-prefix}-flow-merge:before { content: '\e078'; }
.#{$typcn-css-prefix}-flow-parallel:before { content: '\e079'; }
.#{$typcn-css-prefix}-flow-switch:before { content: '\e07a'; }
.#{$typcn-css-prefix}-folder-add:before { content: '\e07b'; }
.#{$typcn-css-prefix}-folder-delete:before { content: '\e07c'; }
.#{$typcn-css-prefix}-folder-open:before { content: '\e07d'; }
.#{$typcn-css-prefix}-folder:before { content: '\e07e'; }
.#{$typcn-css-prefix}-gift:before { content: '\e07f'; }
.#{$typcn-css-prefix}-globe-outline:before { content: '\e080'; }
.#{$typcn-css-prefix}-globe:before { content: '\e081'; }
.#{$typcn-css-prefix}-group-outline:before { content: '\e082'; }
.#{$typcn-css-prefix}-group:before { content: '\e083'; }
.#{$typcn-css-prefix}-headphones:before { content: '\e084'; }
.#{$typcn-css-prefix}-heart-full-outline:before { content: '\e085'; }
.#{$typcn-css-prefix}-heart-half-outline:before { content: '\e086'; }
.#{$typcn-css-prefix}-heart-outline:before { content: '\e087'; }
.#{$typcn-css-prefix}-heart:before { content: '\e088'; }
.#{$typcn-css-prefix}-home-outline:before { content: '\e089'; }
.#{$typcn-css-prefix}-home:before { content: '\e08a'; }
.#{$typcn-css-prefix}-html5:before { content: '\e08b'; }
.#{$typcn-css-prefix}-image-outline:before { content: '\e08c'; }
.#{$typcn-css-prefix}-image:before { content: '\e08d'; }
.#{$typcn-css-prefix}-infinity-outline:before { content: '\e08e'; }
.#{$typcn-css-prefix}-infinity:before { content: '\e08f'; }
.#{$typcn-css-prefix}-info-large-outline:before { content: '\e090'; }
.#{$typcn-css-prefix}-info-large:before { content: '\e091'; }
.#{$typcn-css-prefix}-info-outline:before { content: '\e092'; }
.#{$typcn-css-prefix}-info:before { content: '\e093'; }
.#{$typcn-css-prefix}-input-checked-outline:before { content: '\e094'; }
.#{$typcn-css-prefix}-input-checked:before { content: '\e095'; }
.#{$typcn-css-prefix}-key-outline:before { content: '\e096'; }
.#{$typcn-css-prefix}-key:before { content: '\e097'; }
.#{$typcn-css-prefix}-keyboard:before { content: '\e098'; }
.#{$typcn-css-prefix}-leaf:before { content: '\e099'; }
.#{$typcn-css-prefix}-lightbulb:before { content: '\e09a'; }
.#{$typcn-css-prefix}-link-outline:before { content: '\e09b'; }
.#{$typcn-css-prefix}-link:before { content: '\e09c'; }
.#{$typcn-css-prefix}-location-arrow-outline:before { content: '\e09d'; }
.#{$typcn-css-prefix}-location-arrow:before { content: '\e09e'; }
.#{$typcn-css-prefix}-location-outline:before { content: '\e09f'; }
.#{$typcn-css-prefix}-location:before { content: '\e0a0'; }
.#{$typcn-css-prefix}-lock-closed-outline:before { content: '\e0a1'; }
.#{$typcn-css-prefix}-lock-closed:before { content: '\e0a2'; }
.#{$typcn-css-prefix}-lock-open-outline:before { content: '\e0a3'; }
.#{$typcn-css-prefix}-lock-open:before { content: '\e0a4'; }
.#{$typcn-css-prefix}-mail:before { content: '\e0a5'; }
.#{$typcn-css-prefix}-map:before { content: '\e0a6'; }
.#{$typcn-css-prefix}-media-eject-outline:before { content: '\e0a7'; }
.#{$typcn-css-prefix}-media-eject:before { content: '\e0a8'; }
.#{$typcn-css-prefix}-media-fast-forward-outline:before { content: '\e0a9'; }
.#{$typcn-css-prefix}-media-fast-forward:before { content: '\e0aa'; }
.#{$typcn-css-prefix}-media-pause-outline:before { content: '\e0ab'; }
.#{$typcn-css-prefix}-media-pause:before { content: '\e0ac'; }
.#{$typcn-css-prefix}-media-play-outline:before { content: '\e0ad'; }
.#{$typcn-css-prefix}-media-play-reverse-outline:before { content: '\e0ae'; }
.#{$typcn-css-prefix}-media-play-reverse:before { content: '\e0af'; }
.#{$typcn-css-prefix}-media-play:before { content: '\e0b0'; }
.#{$typcn-css-prefix}-media-record-outline:before { content: '\e0b1'; }
.#{$typcn-css-prefix}-media-record:before { content: '\e0b2'; }
.#{$typcn-css-prefix}-media-rewind-outline:before { content: '\e0b3'; }
.#{$typcn-css-prefix}-media-rewind:before { content: '\e0b4'; }
.#{$typcn-css-prefix}-media-stop-outline:before { content: '\e0b5'; }
.#{$typcn-css-prefix}-media-stop:before { content: '\e0b6'; }
.#{$typcn-css-prefix}-message-typing:before { content: '\e0b7'; }
.#{$typcn-css-prefix}-message:before { content: '\e0b8'; }
.#{$typcn-css-prefix}-messages:before { content: '\e0b9'; }
.#{$typcn-css-prefix}-microphone-outline:before { content: '\e0ba'; }
.#{$typcn-css-prefix}-microphone:before { content: '\e0bb'; }
.#{$typcn-css-prefix}-minus-outline:before { content: '\e0bc'; }
.#{$typcn-css-prefix}-minus:before { content: '\e0bd'; }
.#{$typcn-css-prefix}-mortar-board:before { content: '\e0be'; }
.#{$typcn-css-prefix}-news:before { content: '\e0bf'; }
.#{$typcn-css-prefix}-notes-outline:before { content: '\e0c0'; }
.#{$typcn-css-prefix}-notes:before { content: '\e0c1'; }
.#{$typcn-css-prefix}-pen:before { content: '\e0c2'; }
.#{$typcn-css-prefix}-pencil:before { content: '\e0c3'; }
.#{$typcn-css-prefix}-phone-outline:before { content: '\e0c4'; }
.#{$typcn-css-prefix}-phone:before { content: '\e0c5'; }
.#{$typcn-css-prefix}-pi-outline:before { content: '\e0c6'; }
.#{$typcn-css-prefix}-pi:before { content: '\e0c7'; }
.#{$typcn-css-prefix}-pin-outline:before { content: '\e0c8'; }
.#{$typcn-css-prefix}-pin:before { content: '\e0c9'; }
.#{$typcn-css-prefix}-pipette:before { content: '\e0ca'; }
.#{$typcn-css-prefix}-plane-outline:before { content: '\e0cb'; }
.#{$typcn-css-prefix}-plane:before { content: '\e0cc'; }
.#{$typcn-css-prefix}-plug:before { content: '\e0cd'; }
.#{$typcn-css-prefix}-plus-outline:before { content: '\e0ce'; }
.#{$typcn-css-prefix}-plus:before { content: '\e0cf'; }
.#{$typcn-css-prefix}-point-of-interest-outline:before { content: '\e0d0'; }
.#{$typcn-css-prefix}-point-of-interest:before { content: '\e0d1'; }
.#{$typcn-css-prefix}-power-outline:before { content: '\e0d2'; }
.#{$typcn-css-prefix}-power:before { content: '\e0d3'; }
.#{$typcn-css-prefix}-printer:before { content: '\e0d4'; }
.#{$typcn-css-prefix}-puzzle-outline:before { content: '\e0d5'; }
.#{$typcn-css-prefix}-puzzle:before { content: '\e0d6'; }
.#{$typcn-css-prefix}-radar-outline:before { content: '\e0d7'; }
.#{$typcn-css-prefix}-radar:before { content: '\e0d8'; }
.#{$typcn-css-prefix}-refresh-outline:before { content: '\e0d9'; }
.#{$typcn-css-prefix}-refresh:before { content: '\e0da'; }
.#{$typcn-css-prefix}-rss-outline:before { content: '\e0db'; }
.#{$typcn-css-prefix}-rss:before { content: '\e0dc'; }
.#{$typcn-css-prefix}-scissors-outline:before { content: '\e0dd'; }
.#{$typcn-css-prefix}-scissors:before { content: '\e0de'; }
.#{$typcn-css-prefix}-shopping-bag:before { content: '\e0df'; }
.#{$typcn-css-prefix}-shopping-cart:before { content: '\e0e0'; }
.#{$typcn-css-prefix}-social-at-circular:before { content: '\e0e1'; }
.#{$typcn-css-prefix}-social-dribbble-circular:before { content: '\e0e2'; }
.#{$typcn-css-prefix}-social-dribbble:before { content: '\e0e3'; }
.#{$typcn-css-prefix}-social-facebook-circular:before { content: '\e0e4'; }
.#{$typcn-css-prefix}-social-facebook:before { content: '\e0e5'; }
.#{$typcn-css-prefix}-social-flickr-circular:before { content: '\e0e6'; }
.#{$typcn-css-prefix}-social-flickr:before { content: '\e0e7'; }
.#{$typcn-css-prefix}-social-github-circular:before { content: '\e0e8'; }
.#{$typcn-css-prefix}-social-github:before { content: '\e0e9'; }
.#{$typcn-css-prefix}-social-google-plus-circular:before { content: '\e0ea'; }
.#{$typcn-css-prefix}-social-google-plus:before { content: '\e0eb'; }
.#{$typcn-css-prefix}-social-instagram-circular:before { content: '\e0ec'; }
.#{$typcn-css-prefix}-social-instagram:before { content: '\e0ed'; }
.#{$typcn-css-prefix}-social-last-fm-circular:before { content: '\e0ee'; }
.#{$typcn-css-prefix}-social-last-fm:before { content: '\e0ef'; }
.#{$typcn-css-prefix}-social-linkedin-circular:before { content: '\e0f0'; }
.#{$typcn-css-prefix}-social-linkedin:before { content: '\e0f1'; }
.#{$typcn-css-prefix}-social-pinterest-circular:before { content: '\e0f2'; }
.#{$typcn-css-prefix}-social-pinterest:before { content: '\e0f3'; }
.#{$typcn-css-prefix}-social-skype-outline:before { content: '\e0f4'; }
.#{$typcn-css-prefix}-social-skype:before { content: '\e0f5'; }
.#{$typcn-css-prefix}-social-tumbler-circular:before { content: '\e0f6'; }
.#{$typcn-css-prefix}-social-tumbler:before { content: '\e0f7'; }
.#{$typcn-css-prefix}-social-twitter-circular:before { content: '\e0f8'; }
.#{$typcn-css-prefix}-social-twitter:before { content: '\e0f9'; }
.#{$typcn-css-prefix}-social-vimeo-circular:before { content: '\e0fa'; }
.#{$typcn-css-prefix}-social-vimeo:before { content: '\e0fb'; }
.#{$typcn-css-prefix}-social-youtube-circular:before { content: '\e0fc'; }
.#{$typcn-css-prefix}-social-youtube:before { content: '\e0fd'; }
.#{$typcn-css-prefix}-sort-alphabetically-outline:before { content: '\e0fe'; }
.#{$typcn-css-prefix}-sort-alphabetically:before { content: '\e0ff'; }
.#{$typcn-css-prefix}-sort-numerically-outline:before { content: '\e100'; }
.#{$typcn-css-prefix}-sort-numerically:before { content: '\e101'; }
.#{$typcn-css-prefix}-spanner-outline:before { content: '\e102'; }
.#{$typcn-css-prefix}-spanner:before { content: '\e103'; }
.#{$typcn-css-prefix}-spiral:before { content: '\e104'; }
.#{$typcn-css-prefix}-star-full-outline:before { content: '\e105'; }
.#{$typcn-css-prefix}-star-half-outline:before { content: '\e106'; }
.#{$typcn-css-prefix}-star-half:before { content: '\e107'; }
.#{$typcn-css-prefix}-star-outline:before { content: '\e108'; }
.#{$typcn-css-prefix}-star:before { content: '\e109'; }
.#{$typcn-css-prefix}-starburst-outline:before { content: '\e10a'; }
.#{$typcn-css-prefix}-starburst:before { content: '\e10b'; }
.#{$typcn-css-prefix}-stopwatch:before { content: '\e10c'; }
.#{$typcn-css-prefix}-support:before { content: '\e10d'; }
.#{$typcn-css-prefix}-tabs-outline:before { content: '\e10e'; }
.#{$typcn-css-prefix}-tag:before { content: '\e10f'; }
.#{$typcn-css-prefix}-tags:before { content: '\e110'; }
.#{$typcn-css-prefix}-th-large-outline:before { content: '\e111'; }
.#{$typcn-css-prefix}-th-large:before { content: '\e112'; }
.#{$typcn-css-prefix}-th-list-outline:before { content: '\e113'; }
.#{$typcn-css-prefix}-th-list:before { content: '\e114'; }
.#{$typcn-css-prefix}-th-menu-outline:before { content: '\e115'; }
.#{$typcn-css-prefix}-th-menu:before { content: '\e116'; }
.#{$typcn-css-prefix}-th-small-outline:before { content: '\e117'; }
.#{$typcn-css-prefix}-th-small:before { content: '\e118'; }
.#{$typcn-css-prefix}-thermometer:before { content: '\e119'; }
.#{$typcn-css-prefix}-thumbs-down:before { content: '\e11a'; }
.#{$typcn-css-prefix}-thumbs-ok:before { content: '\e11b'; }
.#{$typcn-css-prefix}-thumbs-up:before { content: '\e11c'; }
.#{$typcn-css-prefix}-tick-outline:before { content: '\e11d'; }
.#{$typcn-css-prefix}-tick:before { content: '\e11e'; }
.#{$typcn-css-prefix}-ticket:before { content: '\e11f'; }
.#{$typcn-css-prefix}-time:before { content: '\e120'; }
.#{$typcn-css-prefix}-times-outline:before { content: '\e121'; }
.#{$typcn-css-prefix}-times:before { content: '\e122'; }
.#{$typcn-css-prefix}-trash:before { content: '\e123'; }
.#{$typcn-css-prefix}-tree:before { content: '\e124'; }
.#{$typcn-css-prefix}-upload-outline:before { content: '\e125'; }
.#{$typcn-css-prefix}-upload:before { content: '\e126'; }
.#{$typcn-css-prefix}-user-add-outline:before { content: '\e127'; }
.#{$typcn-css-prefix}-user-add:before { content: '\e128'; }
.#{$typcn-css-prefix}-user-delete-outline:before { content: '\e129'; }
.#{$typcn-css-prefix}-user-delete:before { content: '\e12a'; }
.#{$typcn-css-prefix}-user-outline:before { content: '\e12b'; }
.#{$typcn-css-prefix}-user:before { content: '\e12c'; }
.#{$typcn-css-prefix}-vendor-android:before { content: '\e12d'; }
.#{$typcn-css-prefix}-vendor-apple:before { content: '\e12e'; }
.#{$typcn-css-prefix}-vendor-microsoft:before { content: '\e12f'; }
.#{$typcn-css-prefix}-video-outline:before { content: '\e130'; }
.#{$typcn-css-prefix}-video:before { content: '\e131'; }
.#{$typcn-css-prefix}-volume-down:before { content: '\e132'; }
.#{$typcn-css-prefix}-volume-mute:before { content: '\e133'; }
.#{$typcn-css-prefix}-volume-up:before { content: '\e134'; }
.#{$typcn-css-prefix}-volume:before { content: '\e135'; }
.#{$typcn-css-prefix}-warning-outline:before { content: '\e136'; }
.#{$typcn-css-prefix}-warning:before { content: '\e137'; }
.#{$typcn-css-prefix}-watch:before { content: '\e138'; }
.#{$typcn-css-prefix}-waves-outline:before { content: '\e139'; }
.#{$typcn-css-prefix}-waves:before { content: '\e13a'; }
.#{$typcn-css-prefix}-weather-cloudy:before { content: '\e13b'; }
.#{$typcn-css-prefix}-weather-downpour:before { content: '\e13c'; }
.#{$typcn-css-prefix}-weather-night:before { content: '\e13d'; }
.#{$typcn-css-prefix}-weather-partly-sunny:before { content: '\e13e'; }
.#{$typcn-css-prefix}-weather-shower:before { content: '\e13f'; }
.#{$typcn-css-prefix}-weather-snow:before { content: '\e140'; }
.#{$typcn-css-prefix}-weather-stormy:before { content: '\e141'; }
.#{$typcn-css-prefix}-weather-sunny:before { content: '\e142'; }
.#{$typcn-css-prefix}-weather-windy-cloudy:before { content: '\e143'; }
.#{$typcn-css-prefix}-weather-windy:before { content: '\e144'; }
.#{$typcn-css-prefix}-wi-fi-outline:before { content: '\e145'; }
.#{$typcn-css-prefix}-wi-fi:before { content: '\e146'; }
.#{$typcn-css-prefix}-wine:before { content: '\e147'; }
.#{$typcn-css-prefix}-world-outline:before { content: '\e148'; }
.#{$typcn-css-prefix}-world:before { content: '\e149'; }
.#{$typcn-css-prefix}-zoom-in-outline:before { content: '\e14a'; }
.#{$typcn-css-prefix}-zoom-in:before { content: '\e14b'; }
.#{$typcn-css-prefix}-zoom-out-outline:before { content: '\e14c'; }
.#{$typcn-css-prefix}-zoom-out:before { content: '\e14d'; }
.#{$typcn-css-prefix}-zoom-outline:before { content: '\e14e'; }
.#{$typcn-css-prefix}-zoom:before { content: '\e14f'; }