// https://css-tricks.com/snippets/html/glyphs/
// CHARACTERS
// --------------------------------------------

// -- QUOTES
// --------------------------------------------

$quot-sign:             "\0022"; // "

$ldquo-sign:            "\201C"; // “
$rdquo-sign:            "\201D"; // ”
$bdquo-sign:            "\201E"; // „
$lsquo-sign:            "\2018"; // ‘
$rsquo-sign:            "\2019"; // ’
$sbquo-sign:            "\201A"; // ‚

$laquo-sign:            "\00ab"; // «
$raquo-sign:            "\00bb"; // »
$lsaquo-sign:           "\2039"; // ‹
$rsaquo-sign:           "\203A"; // ›


// -- TEXT GLYPH
// --------------------------------------------

$amp-sign:              "\0026"; // &

$sect-sign:             "\00a7"; // §
$para-sign:             "\00b6"; // ¶


// -- MATH
// --------------------------------------------

$lt-sign:               "\003c"; // <
$gt-sign:               "\003e"; // >
$plusmn-sign:           "\00b1"; // >
$times-sign:            "\00d7"; // ×
$divide-sign:           "\00f7"; // ÷
$fnof-sign:             "\0192"; // ƒ


// -- LICENCE
// --------------------------------------------

$copy-sign:             "\00a9"; // ©
$reg-sign:              "\00a9"; // ®


// -- DOT and DASH
// --------------------------------------------

$middot-sign:           "\00b7"; // ·
$bullet-sign:           "\2022"; // •	
$ndash-sign:            "\2013"; // –
$mdash-sign:            "\2014"; // —


// -- UNIT
// --------------------------------------------

$deg-sign:              "\00b0"; // °