/* TABLES */
// --------------------------------------------

table {
	background-color: $table-bg;

	& th {
		text-align: left;
	}
}

caption {
	padding-top: $table-cell-padding;
	padding-bottom: $table-cell-padding;
	color: $text-color;
	text-align: left;
}


/* -- TABLE BASELINE */
// --------------------------------------------

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $line-height-computed;

	// Cells
	& > thead,
	& > tbody,
	& > tfoot {
		& > tr {
			& > th,
			& > td {
				padding: $table-cell-padding-horizontal $table-cell-padding-vertical;
				line-height: $line-height;
				vertical-align: top;
				border-top: 1px solid $table-border-color;
				transition: $transition-base;
			}
		}

		& > tr {
			& ,
			& > th,
			& > td {
				transition: $transition-base;
			}
		}
	}

	// Bottom align for column headings
	& > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid $table-border-color;
	}

	// Remove top border from thead by default
	& > caption + thead,
	& > colgroup + thead,
	& > thead:first-child {
		& > tr:first-child {
			& > th,
			& > td {
				border-top: 0;
			}
		}
	}

	// Account for multiple tbody instances
	& > tbody + tbody {
		border-top: 2px solid $table-border-color;
	}
}


/* -- TABLE BORDERED */
// --------------------------------------------

.table-bordered {
	border: 1px solid $table-border-color;

	& > thead,
	& > tbody,
	& > tfoot {
		& > tr {
			& > th,
			& > td {
				border: 1px solid $table-border-color;
			}
		}
	}
	& > thead > tr {
		& > th,
		& > td {
			border-bottom-width: 2px;
		}
	}
}


/* -- TABLE STRIPED */
// --------------------------------------------

.table-striped {
	& > tbody > tr:nth-of-type(odd) {
		background-color: $table-striped-bg;
	}
}


/* -- TABLE HOVER */
// --------------------------------------------

.table-hover {
	& > tbody > tr:hover {
		background-color: $table-hover-bg;
		color: $table-hover-color;
	}
}


/* -- TABLE RESPONSIVE */
// --------------------------------------------

.table-responsive {
	overflow-x: auto;
	min-height: 0.01%; // Workaround for IE9 bug

	@media screen and (max-width: $screen-xs-max) {
		width: 100%;
		margin-bottom: ($line-height-computed * 0.75);
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $table-border-color;

		// Tighten up spacing
		& > .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			& > thead,
			& > tbody,
			& > tfoot {
				& > tr {
					& > th,
					& > td {
						white-space: nowrap;
					}
				}
			}
		}

		// Special overrides for the bordered tables
		& > .table-bordered {
			border: 0;

			& > thead,
			& > tbody,
			& > tfoot {
				& > tr {
					& > th:first-child,
					& > td:first-child {
						border-left: 0;
					}
					& > th:last-child,
					& > td:last-child {
						border-right: 0;
					}
				}
			}

			& > tbody,
			& > tfoot {
				& > tr:last-child {
					& > th,
					& > td {
						border-bottom: 0;
					}
				}
			}
		}
	}
}
